*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;  
}

body{
    background:#334155;
    color:#fff;
}
.container {
    width:100%;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items: center;

    
}
.container h1{
    margin:20px 0 40px 0;
}

.game-board{
    display:grid;
    grid-template-columns:repeat(3,minmax(120px,1fr));

}
.cell{
    border:1px solid #f7f6f6;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:20px;
    font-size:60px;
    font-weight:600;
    height:120px;
    cursor:pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top:none;
}

.cell:nth-child(3n+1){
    border-left:none;
}
.cell:nth-child(3n){
    border-right:none;
}
.cell:nth-child(n+7){
    border-bottom:none;
}
.game-players{
    margin-top:30px;
    display:flex;
    justify-content: space-between;
}

.player{
    margin-inline: 18px;
    font-size:20px;
    font-weight:600;
}

.restartBtn{
    margin-top:30px;
    padding:10px 20px;
    font-size:16px;
    font-weight:600;
    border:none;
    border-radius:5px;
    cursor:pointer;
    background:#3b82f6;
    color:#fff;
    transition: background 0.3s ease;
}
.restartBtn:hover{
    background:#2563eb;
}
.cell.disabled{
    background:#8c8c8c;
}

.alertbox{
    position:absolute;
    top:0px;
    background-color: white;
    color:rgb(75, 73, 73);
    width:100%;
    padding:8px 12px;
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    display:none;

}

@media screen and (max-width:550px) {
    .container h1{
        font-size:24px;
        text-align:center;
        margin-bottom:20px;
    }
    .game-board{
        grid-template-columns:repeat(3,minmax(90px,1fr));
    }
    .cell{
        height:90px;
        font-size:60px;
     
    }
    
}